body {
    background-color: #1e1e1e;
    color: #b8b8b8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
    top: -50px;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #00ff99;
    color: #1e1e1e;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00cc77;
}

.cerrarSesion {
    background-color: #c82f2f;
    color: #f6f6f6;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    top: 30px;
}

.cerrarSesion:hover {
    background-color: #f25858;
    
}
